<!-- COVER -->
  <section id="cover">
    <h2 class="sr-only">멋쟁이 사자처럼 소모임을 소개합니다!</h2>
    <!-- Bootstrap Carousel -->
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <article class="carousel-item active">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-12">
                <h3 class="cover__title mb-4" lang="en">For 혼코 사자</h3>
                <p class="cover__text mb-4">혼코하는 사자들을 위한 멤버 매칭 서비스입니다.</p>
                <a href='/apply/apply_create' class="cover__link btn bg-primary px-4 py-3">신청하기</a>
              </div>
            </div>
          </div>
        </article>
        <article class="carousel-item">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-12">
                <h3 class="cover__title mb-4" lang="en">아이디어톤</h3>
                <p class="cover__text mb-4">멋쟁이사자처럼 아이디어톤 소모임 매칭! 아이디어톤에 같이 나갈 멤버가 없다면! </p>
                <a href='/apply/apply_create' class="cover__link btn bg-primary px-4 py-3">신청하기</a>
              </div>
            </div>
          </div>
        </article>
        <article class="carousel-item">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-12">
                <h3 class="cover__title mb-4" lang="en">해커톤</h3>
                <p class="cover__text mb-4">멋쟁이사자처럼 해커톤 매칭! 해커톤에 나갈 사람이 없다면! </p>
                <a href='/apply/apply_create' class="cover__link btn bg-primary px-4 py-3">신청하기</a>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <!-- // Bootstrap Carousel -->
  </section>
  <!-- // COVER -->