<!-- Header -->
	<header class= "header">
		<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand" href="#">멋사팅</a>
		  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		      	<%= link_to '/posts/main', class: 'nav-link' do %>홈
		      		<span class="sr-only" lang="ko" id="span">(현재페이지)</span>
						<% end %>
		      </li>
		      <li class="nav-item">
		      	<%= link_to '신청하기','/apply/apply_create', class: 'nav-link'%>
		      </li>
		      <li class="nav-item">
		      	<%= link_to '커뮤니티',posts_index_path, class: 'nav-link'%>
		      </li>
		      <li class="nav-item">
		        <%= link_to '마이 페이지','/mypage/index', class: 'nav-link'%>
		      	<%# if user_signed_in? %>
		        <!--<a class="nav-link" href="#">로그아웃</a>-->
		        <%# else %>
		        <!--<a class="nav-link" href="#">로그인</a>-->
		        <%# end %>
		      </li>
		    </ul>
		  </div>
		</nav>
	</header>